<%
  var sMessage = 'Input packager options and click Start Packaging button';
  var sOutputPath = '';

  // initial values
  var configData = makeDrm.getConfig();
  //var packagerOption = packager.getOption();
  var packagerOption = new Object();
  packagerOption.INPUT_FILE = "";
  packagerOption.OUTPUT_PATH = "";

  if(data) {
    packagerOption = data;
    //packager.startPack(packagerOption);
    sMessage = 'Starting packager..';
  }
%>
<!DOCTYPE html>
<html>
<head>
    <title>PallyCon CLI Packager Test</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="./css/stylish-portfolio.css" rel="stylesheet">
    <link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery-3.1.0.min.js"></script>
    <script src="./js/bootstrap.js"></script>
    <style type="text/css">
    html {
        min-width: 700px;
    }

    body {
        font-family: 'Malgun Gothic';
    }
    </style>
</head>

<body>
    <div id="top" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                       PallyCon CLI Packager Test</h1>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!-- Intro -->
    <div id="intro" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-12">
                    <form method="post">
                        <h3>Gateway Integration Settings</h3>
                        <p>Input File Name (Should be in packager folder) : <input name="INPUT_FILE" type="text" size="40" maxlength="32" value="<%= packagerOption.INPUT_FILE %>" />

                        <p><input type="submit" value="Start Packaging">
                        <input type="button" value="Back to Sample Player" onclick="window.location.href='/';"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h4><label id="message_label">test message</label></h4>
                    <h5><label id="output_label">test output</label></h5>
                    <script>
                    document.getElementById('message_label').innerHTML = '<%= sMessage %>';
                    document.getElementById('output_label').innerHTML = '<%= sOutputPath %>';
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p>Copyright &copy; INKAENTWORKS Co.,Ltd.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
</body>
</html>
